# Build results
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# Visual Studio files
.vs/
*.user
*.userosscache
*.sln.docstates

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper

# NuGet
packages/
*.nupkg

# Windows
Thumbs.db
Desktop.ini 